
#cart-container-div {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: green;
    background: linear-gradient(180deg, #E76036 0%, #7CB0E0 99.99%, #81361E 100%);
}

/* Ensure cart div grows with its content */
#cart-div {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

/* Ensure cart items are displayed in a column and grow with content */
#cart-items {
    width: 600px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#cart-items-text {
    text-align: center;
    font-family: 'Jockey One', sans-serif;
    font-size: 45px;
    margin: 20px;
}

/* Display cart items in a grid with a gap */
#cart-item-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

/* Ensure cart summary grows with its content */
#cart-summary {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#cart-placeholder-text {
    text-align: center;
    font-family: 'Jockey One', sans-serif;
    font-size: 45px;
    margin: 18px;
    visibility: hidden;
}

#summary-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 500px;
    border-radius: 27px;
    padding: 20px; /* Add some padding for better spacing */
    min-height: 600px;
}

#summary-text {
    text-align: center;
    font-family: 'Jockey One', sans-serif;
    font-size: 45px;
    margin: 25px;
    padding: 10px;
}

#summary-items-div {
    width: 80%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: space-between;
    min-height: 500px;
}

#checkout-div {
    display: flex;
    background-color: #C0B7B7;
    border-radius: 27px;
    width: 50%;
    height: 25px;
    justify-content: center;
    align-items: center;
}

#checkout-text {
    margin: 0;
    padding: 0;
    font-family: 'Jockey One', sans-serif;
    user-select: none;
}

#checkout-div-container {
    display: flex;
    justify-content: center;
}

#checkout-div:hover {
    background-color: rgb(100, 100, 100);
    border-radius: 27px;
    width: 50%;
    height: 25px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#cart-placeholder {
    height: 100px;
}
