body {
    padding-top: 79px;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#catalog-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#catalog-div {
    flex: 1;
    width: 100%;
    background: linear-gradient(180deg, #E76036 0%, #7CB0E0 99.99%, #81361E 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#catalog-grid-div {
    margin: 5px;
    margin-top: 10px;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, min-content);
    align-items: center;
    justify-items: center;
}

#catalog-selector {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.catalog-square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 80px;
    background-color: white;
}

.catalog-square p {
    font-family: 'Jockey One', sans-serif;
    user-select: none;
}

.catalog-square:hover {
    background-color: gray;
    cursor: pointer;
}

#catalog-footer {
    width: 300px;
}

#catalog-placeholder {
    height: 75px;
}
