@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Jockey+One&display=swap');
.Hero-div {
    padding: 30px;
    display: flex;
    background: linear-gradient(180deg, #E76036 0%, #9F2600 100%);
    height: 65vh;
    padding-top: 130px;
}

.Hero-div div{
    width: 50%;
}

.inner-hero-div {
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-size: 44px;
    line-height: 53px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFAFA;
}

img {
    object-fit: cover;
    width: 500px;
    height: 450px;
    border-radius: 32px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.banner-div {
    background-color: white;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#banner-text {
    font-family: 'Jockey One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #E76036;

}
