.Second-Hero-div {
    padding: 30px;
    display: flex;
    align-items: center;
    background: linear-gradient(180deg, #7CB0E0 0%, #ACC5DC 100%);
    height: 75vh;
}

.Second-Hero-div div{
    width: 50%;
}


.inner-hero-div {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 35px;
}

h1 {
    text-align: center;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 44px;
    display: flex;
    text-transform: uppercase;
    color: #FFFAFA;
}

img {
    width: 500px;
    height: 450px;
    border-radius: 32px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.banner-div {
    background-color: white;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#banner-text {
    color: #E76036;
}

#airmax95 {
    object-fit: cover;
    width: 500px;
    height: 450px;
    border-radius: 32px;
    transform: matrix(-1, 0, 0, 1, 0, 0);

}

#banner-text2 {
    color: white;
}